<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">

  <title>Fraud Detection</title>

  <meta name="description" content="Fraud Detection">
  <meta name="author" content="Ryan Holway, Chris Lawton, Danny Lumin, and Paul Sandoval">

</head>

<body>

  <h1>Fraud or not Fraud?</h1>

  <span style="color: blue; font-weight: bold;">Your Data</span>
  <p>{{ response }}</p>
  <!-- <span style="color: blue; font-weight: bold;">Fraud or not Fraud</span> -->
  <!-- <p>{{ predicted }}</p> -->

</body>
</html>
